<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\AndroidBillingApi.dll" stdoutLogEnabled="false" hostingModel="InProcess" stdoutLogFile=".\logs\stdout">
        <environmentVariables>
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\7.0.100\DotnetTools\dotnet-watch\7.0.100-rtm.22521.7\tools\net7.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:44321/AndroidBillingApi/,ws://localhost:50144/AndroidBillingApi/" />
          <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA2Fmft2pf1ZmJ5Omj+y8TYdki8iNxY1Hvkr6rRqxVLo+311h+TJwIdFuZxnZDLUo8UeVq0HkGgSd6yYlmYDJSgpL7u+KjaOMMvBwjgkivfVOF4NCNfEpeUYxnpr7lo9pV0Z6UvuU4Lwgvd3weNH1VUc9W/Ts1non2KgZ0Tzae57E2W+qtFiFt3OPcAzWjSsUlCj7LWE0GCYYu5Os336LMpUj/DL/bzQzNVYVU29Lap9BtxfTq0znXRi1SvieHZqH6YRygkgEsoUd4nW3B4MAoiUtnnMwScN6CcUaM9rtkfSy+t9He6B15qLWXHdaTY277ZeLwKhLn60BPUbabi4crcQIDAQAB" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: BDE0768C-032B-4632-9DA8-8A9AFD4DA8BE-->